---
layout: default
title: Home
---

<div>
  <img src="https://user-images.githubusercontent.com/96004332/145879570-1fa0aac2-52a4-41fe-a3d3-e4eda7515d14.png"  width="200" height="200" />

  <blockquote> In SEG we study dispersal patterns and ecology in salmonids. We also study interactions between salmonids and the freshwater pearl mussel</blockquote>

  <p>Led by Johan Höjesjö the group consists of post-docs, PhD students and Masters students interested in a wide range of topics surrounding salmonids. We study the behaviour and ecology	of salmonids in	the	field and the lab, and we adress both basic and applied problems. Although the work is focused primarily in Sweden the group conducts studies across Europe and collaborates with several international groups.</p>

  <p>The main species of interest is the native brown trout and various aspects of its life history and ecology; from seaward migration to interactions with the invasive brook trout.</p>
</div>
v
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | truncatewords: 20 }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
