:root {
  --full-screen-image-width: 50vw;
  --full-screen-image-max-width: 30rem;
  --sidebar-width: 30rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;

  line-height: 1.5;

  color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0;

  font-family: 'Prata', serif;
  font-weight: 400;
}

h1 {
  font-size: 1.875rem;
}

h2,
h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin: 0.5em 0 1.5em 0;

  font-size: 1.125rem;
}

figure {
  margin: 1rem 0;
}

.nav-button {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;

  z-index: 101;
}

main {
  transition: all 1s ease;
}

body.sidebar-open main {
  filter: blur(4px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  padding: 4rem 1.25rem;

  width: 100%;
  max-width: var(--sidebar-width);

  height: 100vh;

  z-index: 100;

  background-color: #f5f5f5;

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);

  transform: translate3d(calc(100% + 32px), 0, 0);
  transition: transform 0.5s ease-in-out;
}

.sidebar.open {
  transform: translate3d(0%, 0, 0);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .sidebar-nav {
    margin-bottom: 2rem 0;
  }  
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 80%;
}

.sidebar-nav ul,
.social-media ul {
  margin: 0;
  padding: 0;

  width: 80%;
}

.sidebar-nav li:not(:last-child) {
  margin-bottom: 2rem;
}

.sidebar-nav-item {
  font-size: 1.375rem;
  font-family: 'Prata', serif;
  font-weight: 400;

  color: inherit;
  text-decoration: none;
}

.sidebar-nav-item.active {
  text-decoration: underline;
}

@media (hover: hover) {
  .sidebar-nav-item:hover {
    text-decoration: underline;
  }
}

@media (min-width: 48rem) {
  .sidebar-nav-item {
    font-size: 1.5rem;
  }
}

.social-media {
  display: flex;
  justify-content: center;

  color: #262626;
}

.social-media ul {
  display: flex;

  list-style: none;

  width: 80%;
}

.social-media a {
  margin-right: 1rem;

  color: inherit
}

@media (min-width: 48rem) {
  .home {
    display: flex;
  }
}

.home .fullscreen-image {
  position: sticky;
  top: 0;
  left: 0;
  
  display: none;

  width: 100%;
  height: 10rem;
}

@media (min-width: 48rem) {
  .home .fullscreen-image {
    display: block;

    width: 42%;

    height: 100vh;
  }
}

.home .fullscreen-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center right;
}

.home .logo {
}

.home .logo img {
  display: block;
  width: 10rem;
}

.home .content {
  padding: 3rem 1.25rem;
}

@media (min-width: 48rem) {
  .home .content {
    padding: 4rem 2rem;
  }
}

.home .content article {
  width: 100%;
  max-width: 30rem;
}

@media (min-width: 60rem) {
  .home .content article {
    max-width: 34rem;
  }
}

.page {
  padding: 1rem 1rem 4rem;

  width: 100%;
  max-width: 40rem;

  margin: 0 auto;
}

.page .row {
  display: flex;
}

.page .column {
  padding: 1rem;
}

.posts .post .post-title a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  .posts .post .post-title a:hover {
    text-decoration: underline;
  }
}


.posts .post .post-title {
  margin: 1.5rem 0 0;
}

.posts .post .post-date {
  display: block;
  margin: 0 0 1rem;

  font-size: 0.75rem;
}

.posts .post p {
  margin: .75rem 0;
}

.video-container {
  position: relative;

  margin: 2rem 0;
  padding-bottom: 56.25%;

  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;
}

.sponsors {
  display: flex;
  align-items: center;
}

.sponsors img {
  display: block;
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 100px;
  border-radius: 0;
}

.sponsors a:not(:last-child) {
  margin-right: 2rem;
}

.publications-details summary {
  margin: 0 0 1rem;

  line-height: 2;

  cursor: pointer;
}

.publications-details summary::marker {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}

.publications-year {
  font-size: 1.25rem;

  line-height: 1.375;
  
  vertical-align: middle;
}

.publications-list {
  list-style: none;
}

.publications-item {}

.publications-title {
  font-weight: 700;
  
  color: inherit;

  text-decoration: none;
}

.publications-journal {
  color: #666;

  font-size: 1rem;
}

.publications-authors {

}

@media (hover: hover) {
  .publications-title:hover {
    text-decoration: underline;
  }
}

.team-member {}

.team-member .team-member-name {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.team-member .team-member-name h5 {
  margin: 0;
}

.team-member .team-member-content {
  display: flex;
}

.team-member .team-member-image {
  margin-top: 1rem;
  width: 40%;
  max-width: 12.5rem;
}

.team-member .team-member-image img {
  display: block;
  width: 100%;
  height: auto;
}

.team-member .team-member-body {
  margin-left: 1rem;
  width: 100%;
}

.team-member .team-member-body a {
  color: inherit;
}

@media (max-width: 30rem) {
  .team-member .team-member-content {
    flex-direction: column;
  }

  .team-member .team-member-image {
    width: 100%;
    max-width: 100%;
  }

  .team-member .team-member-name {
    font-size: 1.25rem;
  }

  .team-member .team-member-body {
    margin-left: 0;
  }

  .team-member .team-member-body p {
    font-size: 0.875rem;
  }
}

.swiper {
  margin: 2rem 0;

  width: 100%;
  height: 400px;
}

.swiper img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* Lists */
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 2.5rem 0 1.5rem;
  border: 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
/* Quotes */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

